/* universal styles */
* {
    font-family: "Josefin Sans", "Avenir Next", Helvetica, Arial, sans-serif;
    font-weight: bold;
}

h4, h5 {
    font-weight: normal;
    margin-top: 0px;
}

h5 {
    margin-bottom: 0px;
}

body {
    width: 400px;
}

input[type='number'] {
    width: 60px;
    font-weight: lighter;
    font-size: math;
}

/* class-specific styles */
.hidden {
    display: none;
}

.title-div {
    flex-wrap: nowrap;
    display: flex;
}

.title-icon {
    margin-inline-start: -7px;
}

.icon {
    align-self: center;
    max-height: 4em;
    height: max-content;
}

.speed-written {
    align-self: center;
    margin-left: 1em;
}

.loop-with-clipboard-tail {
    padding-left: 0.3em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.captioned-clipboard {
    display: flex;
}

/* id-specific styles */
#mirror-text {
    margin-top: 0px;
}

#mirror-checkbox {
    width: 100%;
    height: 40%;
    margin-top: -100%;
}

#speed-num {
    margin-left: 0.25rem;
}

#loop-title {
    margin-bottom: 0px;
}

#loop-icon {
    transform: rotate(0.25turn);
}
