/* universal styles */
* {
    font-family: "Avenir Next", Helvetica, Arial, sans-serif;
}

body {
    width: 400px;
}

input[type='number']{
    width: 60px;
}

label {
    display: block;
    margin-right: 2rem;
}

/* class-specific styles */
.option {
    background-color: lightpink;
}

/* id-specific styles */
/* #loop-div{
    opacity: 0;
} */

#reset {
    font-size: medium;
    margin-left: 1.5rem;
}

#speed-num {
    margin-left: 0.25rem;
}