/* universal styles */
* {
    font-family: "Josefin Sans", "Avenir Next", Helvetica, Arial, sans-serif;
}

h3 {
    font-weight: normal;
}

body {
    width: 400px;
}

input[type='number'] {
    width: 60px;
}

label {
    display: block;
    margin-right: 2rem;
}

/* class-specific styles */
.hidden {
    display: none;
}

.title-div {
    flex-wrap: nowrap;
    display: flex;
}

.title-icon {
    align-self: center;
    max-height: 4em;
    height: max-content;
    margin-inline-start: -7px;
}

.title-text {
    /* margin-inline-start: -7px; */
    font-weight: bold;
}

/* id-specific styles */
#reset {
    font-size: medium;
    margin-left: 1.5rem;
}

#speed-num {
    margin-left: 0.25rem;
}